footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }


.ml{
  margin-left: 53rem;
}


.navbar-brand{
  margin-left: 30px;
}


.container {
  margin: auto;
  max-width: 1100px;
  overflow: auto;
  padding: 0 20px;
}

.bg-dark {
  background: #333;
  color: #fff;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align:center;
}

/* Footer */
.footer {
  text-align: center;
  background: #444;
  color: #fff;
  padding: 20px;
}